<div class="container">
  <h1>Lista</h1>
  <div class="row">
    <div class="col-xs-12">
      <a href="/home/new" class="btn btn-primary">Novo</a>
    </div>
  </div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nome do Comprador</th>
        <th scope="col">Descrição</th>
        <th scope="col">Preço do Item</th>
        <th scope="col">Quantidade</th>
        <th scope="col">Endereço do comerciante</th>
        <th scope="col">Nome do comerciante</th>
      </tr>
    </thead>
    <tbody>
      <% @response.each do |item| %>
        <tr>
          <th scope="row"><%= item.id %></th>
          <td><%= item.purchaser_name %></td>
          <td><%= item.item_description %></td>
          <td><%= item.item_price %></td>
          <td><%= item.purchase_count %></td>
          <td><%= item.merchant_address %></td>
          <td><%= item.merchant_name %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
